/* === DESKTOP FIRST === */

/* xl <= Extra extra large (xxl) */
@media (max-width: 1400px) {
  .card {
    font-size: 14px;
  }
}

/* lg <= Extra large (xl) */
@media (max-width: 1200px) {
  .reviews-list {
    right: 0;
    left: auto;
  }

  .hero__feature .features__item {
    width: 44%;
  }

  .hero {
    position: relative;
    padding: 80px 0 70px;
  }

  .hero__desk {
    font-size: 20px;
    line-height: 20px;
  }

  .hero .logo {
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
  }

  .slider__item:last-child {
    display: none;
  }

  .black-white .slider,
  .color .slider {
    flex-grow: 0;
    width: 42%;
  }

  .services {
    padding-bottom: 30px;
  }

  .services__features {
    margin-bottom: 60px;
  }

  .catalog {
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    margin-bottom: 60px;
    font-size: 16px;
  }

  .card:not(:last-child),
  .card:last-child {
    margin-right: 60px;
    margin-left: 60px;
  }

  .card:nth-last-child(2) {
    order: 1;
  }

  .catalog {
    justify-content: space-around;
  }

  .contacts p {
    margin-right: auto;
  }

  .contacts__item-2 {
    order: 1;
    width: 100%;
  }

  .copy {
    text-align: right;
  }
}

/* md <= Large (lg) */
@media (max-width: 992px) {
  .main-nav__item > a {
    padding-left: 25px;
    padding-right: 25px;
  }

  .main-nav__item:first-child > a {
    padding-right: 20px;
  }

  .main-nav__item:last-child > a {
    padding-left: 20px;
  }

  .hero img {
    transform: scale(0.7);
  }

  .slider__item:nth-last-child(2):not(:first-child) {
    display: none;
  }

  .black-white .slider,
  .color .slider {
    width: 50%;
  }

  .black-white__bg,
  .color__bg {
    width: 50%;
  }

  .services__features {
    justify-content: space-evenly;
  }

  .services .features__item {
    min-width: 313px;
  }

  .card:not(:last-child),
  .card:last-child {
    margin-right: 20px;
    margin-left: 20px;
  }

  .about__wrap {
    flex-wrap: wrap;
    margin-bottom: 120px;
  }

  .about__description {
    margin-bottom: 90px;
    margin-right: 0;
  }

  .about__img {
    margin-left: auto;
  }

  .about__img::after {
    width: 720px;
    height: 90px;
  }

  .about {
    padding-bottom: 40px;
  }

  .statistic__item {
    width: 50%;
    margin-bottom: 20px;
  }

  .contacts__item-2 {
    order: 0;
    width: auto;
  }

  .contacts p {
    margin-bottom: 20px;
  }
}

/* sm <= Medium (md) */
@media (max-width: 768px) {
  .main-nav__item > a {
    padding-left: 10px;
    padding-right: 10px;
  }

  .main-nav__item:first-child > a {
    padding-right: 5px;
  }

  .main-nav__item:last-child > a {
    padding-left: 5px;
  }

  .hero__feature .features__item p {
    width: auto;
  }

  .hero .logo {
    display: none;
  }

  .slider__item:not(:first-child) {
    display: none;
  }

  .black-white,
  .color {
    position: relative;
  }

  .black-white .slider,
  .color .slider {
    width: 100%;
    position: absolute;
    top: 60%;
  }

  .black-white__bg,
  .color__bg {
    width: 100%;
    min-height: 860px;
  }

  .card:not(:last-child),
  .card:last-child {
    margin-right: 0;
    margin-left: 0;
  }

  .about__img {
    width: 100%;
  }

  .about__img::after {
    width: 100%;
    height: 90px;
    transform: translate(2%, -58%);
  }

  .footer__wrap {
    flex-wrap: wrap;
  }

  .footer__logo-social {
    margin-right: auto;
    margin-left: auto;
  }

  .contacts p {
    margin-right: 12px;
    margin-left: 12px;
  }

  .copy {
    text-align: center;
  }
}

/* xs <= Small (sm) */
@media (max-width: 576px) {
  .main-nav {
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 23.44%),
    linear-gradient(180deg, rgba(0, 0, 0, 0) 92.71%, #000000 100%),
    url("../images/bg-mobile.jpg") no-repeat;
    background-size: cover;
    padding-bottom: 1px;
  }

  .main-nav__mobile {
    display: flex;
  }

  .main-nav__list {
    /*display: none;*//*todo по клику бургера*/
    width: 74%;
  }

  .main-nav__item {
    display: block;
    padding-bottom: 0;
  }

  .main-nav__link.active {
    border-bottom: 1px solid var(--accent);
    display: inline-block;
    width: 100%;
  }

  .main-nav__logo-social {
    display: block; /*todo по клику бургера*/
  }

  .main-nav::after {
    display: block;
    content: "";
    width: 110px;
    height: 535px;
    background: url("../images/menu-blotch.png") no-repeat right;
    position: absolute;
    top: 90px;
    right: 0;
  }

  .reviews-list {
    position: static;
  }

  .hero {
    padding: 40px 0 60px;
  }

  .hero img, .hero__desk {
    display: none;
  }

  .hero__feature .features__item {
    width: 100%;
  }

  .hero__feature .features__item p {
    width: 265px;
  }

  .button {
    width: 94%;
  }

  .statistic__item {
    width: 100%;
  }

  .contacts p {
    margin-right: 0;
    margin-left: 0;
    font-size: 21px;
    line-height: 24px;
  }

  .contacts__link {
    font-size: 16px;
    line-height: 19px;
  }

  .copy {
    font-size: 12px;
    line-height: 14px;
  }
}
